@charset "utf-8";

@media screen and (max-width: 1024px) {
  .sub1 {
    width: 100%;
    padding-top: 100px;
    min-height: 100vh;
    padding-bottom: 100px;
  }
  
  .sub1 ul {
    /* overflow: hidden; */
  }
  
  .sub1 ul li {
    width: 70%;
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.7s ease-in-out;
    overflow: hidden;
    border-radius: 0;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .sub1 ul li:hover {
    transform: scale(1);
    border-radius: 10px;
  }
  .sub1 ul li img {
    height: 50vh;
  }

  .sub1 .context {
    text-align: center;
    font-size: 19px;
    color: #fff;
    font-weight:900;
    position: absolute;
    line-height: 2;
    letter-spacing: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sub1 .context span{
    font-size: 12px;
  }
  
  .circles li{
    display: none;
  }

}

@media screen and (max-width: 768px) {


  .sub1 .context {
    text-align: center;
    font-size: 19px;
    color: #fff;
    font-weight:900;
    position: absolute;
    line-height: 2;
    letter-spacing: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sub1 .context span{
    font-size: 12px;
  }


}
