@charset "utf-8";


body {
    /* background: linear-gradient(-45deg, #3d4983, #171c35, #151c3f, #3b4da7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */
    height: 100vh;

  }
  
  /* @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */

.result::-webkit-scrollbar {
    width: 15px;
}
.result::-webkit-scrollbar-thumb {
    height: 30%;
    background: #3488ce;
    border: 1px solid #fff;
    border-radius: 10px;
}

.result::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .001);
}
.back {
    width: 10%;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
}
#wrap {
    animation: bg-pan-bl 10s normal both;
    background:url(../img/bgg1.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
#sectionbox {
    background:url(../img/back1.png);
    background-size: 1250px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.4s;
    z-index: 99999;
}
#section {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-top: 100px;
    width: 100%;
}
.box {
    transition: all 0.4s;
    width: 520px;
    margin-left: 3%;
    margin-right: 1%;
    z-index: 999;
}
#map {
    position: relative;
    width: 520px;
    z-index: 999;
    height: 53.5vh;
    margin-right: 3%;
    opacity: 0.85;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#map:hover {
    opacity: 1;
}
select option {
    color: #000;
}
.form {
    display: flex;
}
/* .form #searchBtn {
    width: 150px;
    background: none;
    padding: 5px;
    transition: all 0.3s;
    border: 1px solid #000;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}
.form #searchBtn:hover {
    background: #fff;
    color: #000;
} */
select{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-right: 3px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    flex: 1;
    font-weight: bold;
    border-radius: 10px;
    color:#000;
    border:none;
    position:relative;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor:pointer;
    outline:none;
    transition: all 0.4s;
  }
  select:hover{
    background:#fff;
    color:#3488ce;
    border: 1px solid #3488ce;
  }


button{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background:#3488ce;
    color:#fff;
    border:none;
    position:relative;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:#3488ce;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #3488ce;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
.result {
    margin-top: 10px;
    background: rgba(255, 255, 255, 0);
    padding: 20px 0px;
    height: 49.3vh;
    overflow: scroll;
    overflow-x: hidden;
    transition: all 0.4s;
    border: 1px solid #fff;
    border-top: none;
    border-radius: 10px;
    z-index: 99999999;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.result h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s;
    color: #61a9e4;
}
.result p {
    font-size: 15px;
    color: #c7c7c7;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    transition: all 0.3s;
}
.result p:last-child {
    padding-bottom: 20px;
}
.resultContents {
    transition: all 0.2s;
    width: 82%;
    margin: 0 auto;
    cursor: pointer;
}
.resultContents:hover {
    background: #84b8e2;
    transform: scale(1.2);
    border-radius: 10px;
    box-shadow: 5px 2px 20px #999;
}
.resultContents:hover h2 {
    color: #fff;
}
.resultContents:hover p {
    color: rgb(233, 233, 233);
    font-weight: bold;
}
.mapbox {
    width:300px;
    text-align:center;
    padding:10px 10px;
    border-radius: 10px;
}
.mapbox p {
    font-size: 13px;
    color: gray;
}
.mapbox h3 {
    font-size: 21px;
    font-weight: bold;
    color: cornflowerblue;
    padding-top: 5px;
}
.mapbox .adr {
    padding-top: 25px;
}
.mapbox .pnum {
    padding-top: 10px;
    padding-bottom: 10px;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}